.container
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 6rem

  img, .profilePic
    width: 10rem,
    height: 10rem,
    border-radius: 5rem
    box-shadow: .5rem .5rem .3rem #0002

  .loadingText
    font-size: 2rem

  >.links
    text-decoration: none
    h1
      color: #000

.subMenu
  display: flex
  .links
    text-decoration: none
    margin: 0 1rem
    color: #333
    p
      transition: all .2s ease-in-out
      font-weight: bold
      &:hover
        color: #000
        transform: scale(1.2)
